[Unit]
Description=Chime Time
After=multi-user.target

[Service]
User=pi
WorkingDirectory=/home/pi/chimetime
Environment=FLASK_APP="ct_webserver:app_factory('config.json', False)"
Environment=FLASK_ENV=production
ExecStart=/usr/bin/python3 -m flask run --host=0.0.0.0
Restart=always

[Install]
WantedBy=multi-user.target
